apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: git-clone
spec:
  params:
    - name: url
      type: string
    - name: revision
      type: string
      default: main
  workspaces:
    - name: source
  steps:
    - name: clone
      image: alpine/git
      workingDir: $(workspaces.source.path)
      script: |
        set -eux
        pwd
        ls -la
        git clone $(params.url) .
        git checkout $(params.revision)
        ls -la
        find . -maxdepth 3 -name pom.xml -print
